/*------------------Top Navigation---------------------------*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(41,41,41,.99);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
    transition: ease 0.3s;
    font-weight: normal;
}
.topnav a:visited {
    color: #f2f2f2;
}
/* Change the color of links on hover */
.topnav a:hover {
    color: rgb(41, 199, 165);
    border-bottom: 3px solid rgb(41, 199, 159);
    padding-bottom: calc(0.2em - 10px);
    transition: ease 0.3s;
}
/* Hide "Sites" until screen small */
#sites-link {
    display: none;
}
#code-link {
    display: none;
}
/*------------------Mobile Navigation---------------------------*/
#mobile-nav {
    display: none;
}
.mobilenav {
    overflow: hidden;
    background-color: rgba(41,41,41,.99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.mobilenav #myLinks {
    display: none;
    transition: 400ms ease-in-out;
}

/* Style navigation menu links */
.mobilenav a {
    color:  rgba(240,241,240,.98);
    text-decoration: none;
    font-weight: 200;
    padding-left: 50px;
}
.mobilenav a:visited {
    color: rgba(240,241,240,.98);
}

/* Style the hamburger menu */
.mobilenav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 20px;
    top: 2px;
    transition: ease 1s;
}
.mobilenav a.icon:hover {
    color: #480945;
    transition: ease 1s;
}
/* Add a grey background color on mouse-over */
.mobilenav a:hover {
    color: rgb(41, 199, 165);
    text-decoration: underline;
}

/* Style the active link (or home/logo) */
.main-mobile {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: rgb(38, 104, 89);
    color:  rgba(240,241,240,.98);
    padding-top: 4px;
}
/*---Add a flex container to populated links------*/
#myLinks {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-----------------------Shared Document styles---------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #480945;
    background-image: url('../images/leaves.png');
    margin: 0 0 0 0;
    color:#0e010d;
}
body a {
    text-decoration: none;
    color: rgb(9, 65, 70);
    font-weight: bold;
}
body a:visited {
    color: rgb(9, 65, 70);
}
.content-area {
    margin-left:15vw;
    margin-right:15vw;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3%;
    background-color: rgba(240,241,240,.98);
    border-radius: 3vw;
}
h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}
h1 {
    font-size: 115px;
    color: rgb(9, 65, 70);
    text-shadow: 2px 2px 10px #999;
}
h2 {
    font-size: 80px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 20px;
}

/*--Shared Elements---*/
.drop-shadow {
    box-shadow: 0px 0px 20px #000000;
}
.hover-translucent:hover {
    opacity: 0.5;
}
.padding-5 {
    padding-left: 4vw;
    padding-right: 4vw;
}
.padded-bottom {
    padding-bottom: 2em;
}
.bold-text {
    font-weight: bold;
}
.header-link h1 a,h2 a,h3 a,h4 a {
    color: rgb(9, 65, 70);
    transition: ease 0.3s;
}
.header-link h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover {
    border:none;
}
.link-dashed h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover {
    border-bottom: 3px dashed rgb(9, 65, 70);
    border-top: 3px dashed rgb(9, 65, 70);
    transition: ease 0.3s;
}
.ease {
    transition: ease 1s;
}
/*---Website Portfolio Page----*/
.website-box {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3%;
    padding-bottom: 5%;
}
.explanation-block {
    /* text-align: center; */
    line-height: 1.6em;
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 0.5em;
    word-spacing: 0.3em;
    letter-spacing: 0.09em;
}
.explanation-block p {
    margin-bottom: 1.5em;
}
.grid-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-basis: 40%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
}
.grid-card-text {
    font-style: italic;
    margin-top: 0.5em;
}
.grid-card-title h3{
    color: rgb(9, 65, 70);
}
.grid-image-fill {
    background-color: rgb(19, 109, 117);
    border-radius: 5%;
    padding: 0 0 0 0;
    margin-bottom: 5%;
    max-width: 100%;
    box-sizing: border-box;
}
.grid-card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    box-sizing: border-box;
    margin-bottom: -8px;
    transition: ease 0.3s;
}
/*--------Site Detail Pages----------*/
#mobile-box {
    display: none;
}
.three-box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 3em;
}
.row-box-phone {
    flex-basis: 21%;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
.row-box-large {
    flex-basis: 51%;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
.row-box-medium {
    flex-basis: 27%;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
.portfolio-responsive {
    max-width: 100%;
    border-radius: 5%;
    transition: ease 1s;
    position: relative;
}
.features-block {
    /* text-align: center; */
    line-height: 1.6em;
    font-size: 20px;
    margin-top: 3em;
    padding-bottom: 1em;
    word-spacing: 0.3em;
    letter-spacing: 0.09em;
}
.features-block li{
    padding-left: 0.5em;
    margin-left: 2em;
}
/*---------Landing Page------------*/
.landing-area {
    padding-top: 1em;
    opacity: 0.98;
}
.ball-row {
    display: flex;
    flex-direction: row;
    max-width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: content-box;
    padding-bottom: 3em;
    margin-top: 3em;
    padding-top: 0.5em;
}
.ball-row-bottom {
    margin-top: 0;
    margin-bottom: 3em;
    padding-bottom: 3em;
    padding-top: 0.5em;
}
.landing-header {
    text-align: center;
    align-self: flex-end;
}
#ball-link, #ball-link-2, #ball-link-3 {
    color: rgb(9, 65, 70);
    transition: ease 0.3s;
}
.ball {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 10vw;
    background: rgba(240,241,240,.8);
    background-image: url('../images/leaves.png');
    border-radius: 50%;
    border: 5px solid rgb(9, 65, 70);
    transition: ease 0.3s;
    position:relative;
    padding: 1em;
}
.ball:hover {
    opacity:0.9;
    box-shadow: 0px 0px 20px #480945;
}
a .ball {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    transition: ease 0.3s;
}
a .ball p:hover {
    border-bottom: 5px dashed rgb(9,65,70);
    transition: ease 0.3s;
}
/*-------Animated Fade-in-----------*/
.fade-in {
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    -ms-animation: fadeIn ease-in 1s;
    }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
/*--------------------Breakpoints for Media Queries-------------------*/
@media screen and (max-width: 1440px) {
    .explanation-block {
        margin-top: 2em;
    }
    .content-area {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
/*----At 1024, flip portfolio into column view-----*/
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 80px;
    }
    h1.detail-header {
        font-size: 60px;
    }
    .explanation-block {
        line-height: 1.3em;
        margin-bottom: 0.5em;
        font-size: 18px;
    }
    .explanation-block p {
        margin-bottom: 1em;
    }
    a .ball {
        font-size: 30px;
    }
    .ball-row {
        padding-bottom: 1em;
        margin-top: 1em;
    }
    .website-box {
        margin-top: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #desktop-box {
        display:none;
    }
    #mobile-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .portfolio-responsive {
        border-radius: 3%;
    }
    img.box-column {
        max-width: 80%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .features-block {
        margin-top: 0;
        line-height: 1.3em;
        margin-bottom: 0.5em;
        font-size: 18px;
    }
    .features-block p {
        margin-bottom: 1em;
    }
    .features-block ul {
        padding-inline-start: 20px;
    }
    .features-block li {
        margin-bottom: 0.5em;
    }
}
/*----Mobile View: Flip Flexbox to Column for Ball-Row ---*/
/*---TopNav drop "Programming" for "Code"-----------------*/
@media screen and (max-width: 768px) {
    .topnav {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 30px;
    }
    .padding-5 {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    a .ball {
        font-size: 40px;
    }
    .ball-row {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0.5em;
    }
    .ball-row-bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 0em;
    }
    .ball {
        width: 20vmin;
        height: 20vmin;
        margin-bottom: 0.5em;
    }
    h1.detail-header {
        font-size: 40px;
        margin-bottom: 0.5em;
    }
    .explanation-block p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .features-block ul {
        padding-left: 0;
    }
    ul.features-block {
        padding-left: 0;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
    h1.detail-header {
        margin-bottom: 0;
    }
    body {
        font-size: 18px;
    }
    .explanation-block, .features-block {
        word-spacing: 0.2em;
    }
    h3.header-link {
        font-size: 30px;
    }
    #main-nav {
        display:none;
    }
    #mobile-nav {
        display: block;
    }
}
@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px;
    }
    h1.detail-header {
        font-size: 30px;
    }
    a .ball {
        font-size: 25px;
    }
    .ball-row {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0;
    }
    .grid-card-text {
        margin-bottom: 0.5em;
    }
    .explanation-block, .features-block {
        word-spacing: normal;
        letter-spacing: normal;
        font-size: 16px;
    }
    .ball {
        width: 30vmin;
        height: 30vmin;
        margin-bottom: 0.5em;
    }
    h3.header-link {
        font-size: 25px;
    }
}
@media screen and (max-width: 320px) {
    h1.detail-header {
        font-size: 25px;
    }
}